<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver Citas</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <style>
      body {
        background: linear-gradient(to right, #000428, #004e92);
        color: white;
        font-family: "Times New Roman", Times, serif;
      }

      .navbar {
        background: linear-gradient(to right, #000428, #004e92);
      }

      .cita {
        background-color: #333333;
        color: white;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">NORTH BARBER</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/agendar_cita"
              ><i class="fa fa-calendar"></i> Agendar Cita</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ver_cita"
              ><i class="fa fa-eye"></i> Ver Citas</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mi_cuenta"
              ><i class="fa fa-user"></i> Mi Cuenta</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1>Lista de Citas</h1>
      {% for cita in citas %}
      <div class="cita">
        <p><strong>Fecha:</strong> {{ cita[1] }}</p>
        <p><strong>Barbero:</strong> {{ cita[2] }}</p>
        <p><strong>Servicio:</strong> {{ cita[3] }}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
